{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

    {% comment %}<h1>Ed's Portfolio</h1>{% endcomment %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <section class="jumbotron text-center">
        <div class="container">
        	  <!-- class="display-3" -->
          <h1 class="display-3 animated bounce delay-2s">Web Developer</h1>
          <p class="lead text-muted">Hi, I'm Ed. Welcome to my site.</p>
          <p>
          	<a class="btn btn-primary btn-lg" href="mailto:ednaustin@gmail.com" role="button">Email me</a>
          </p>
        </div>
      </section>
    </main>

    {% comment %}  <a href="{ static 'portfolio/'}">Resume</a>  {% endcomment %}

    <div class="container">
        {% comment %}<img src="{% static 'portfolio/large_code.jpg' %}" class="img-fluid" alt="Responsive image">{% endcomment %}

        <br>
        <h2 class="mt-5">Portfolio</h2>
        <hr>
        <div class="row">
          {% for project in projects %}
          <div class="col-lg-4 col-md-6">

            {% if project.url %}
            <a href="{{ project.url }}">
              <img src="{{ project.image.url }}" class="img-fluid mb-2">
            </a>
            {% else %}

            <img src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>

          </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}
