{% extends 'portfolio/base.html' %}

{% block content %}

Hello blog!
<br>
<h2>There are currently {{ blogs.count }} blog post{{ blogs.count |pluralize}}</h2>

{% for blog in blogs %}

<img src="{{ blog.image.url }}" height=320 width=320>
<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>

{% if blog.url %}
<br>
<br>
<a href="{{ blog.url }}" style="text-decoration: none" target="_blank"> Visit Page </a>
{% endif %}

<h4>{{ blog.date |date:'M d Y' |upper }}</h4>
<p>{{ blog.description |striptags| truncatechars:120 }}</p>
<br>

{% endfor %}

{% endblock %}
