{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="blog">
    <title>EdnAustin - Blog</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "portfolio/blog.css" %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="{% url 'home' %}" style="text-decoration: none">Main</a>
      </div>
      <div class="col-4 text-center">
        <h3 class="blog-header-logo text-dark" href="#">Blog</h3>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">

      </div>
    </div>
  </header>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">The Live Music Capital of the World</h1>
      <p class="lead my-3">I know I am not alone when I say that I am looking forward to the day that we can all safely visit our local Austin music venues, restaurants, and bars. Looking forward to a great 2021.</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    </div>
  </div>


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="blog-post">
          <h2 class="blog-post-title">Austin, Texas</h2>
          <p class="blog-post-meta">January 2021 <!-- by <a href="#">Mark</a> --> </p>

          <p>We did it. We survived 2020 <em>and</em> Snovid. We're still social distancing and wearing masks, but more and more people are getting vaccinated. Let's continue to support our local businesses. Stay safe.</p>
          <hr>
          <p>Some excellent resources from Do512:</p>
            <ul>
              <li><a class="text-muted" href="https://do512.com/p/black-owned-businesses-in-austin" style="text-decoration: none" target="_blank">Black-Owned Businesses in Austin</a></li>
              <li><a class="text-muted" href="https://do512.com/p/resource-guide-to-creating-change-in-austin" style="text-decoration: none" target="_blank">Creating Change in Austin</a></li>
              <li><a class="text-muted" href="https://do512.com/p/latinx-owned-restaurants" style="text-decoration: none" target="_blank">Latinx-Owned Restaurants in Austin</a></li>
            </ul>
            <p>Please check out the business lists above. There's ice cream, gourmet oatmeal, seafood, BBQ, and recently <em><strong>coffee</strong></em>! Be safe and wear a mask to protect yourself and others!</p>
        </div><!-- /.blog-post -->

        <div class="blog-post">
          <h2 class="blog-post-title">Site Updates</h2>
          <p class="blog-post-meta">Dec 2021 <!-- by <a href="#">Mark</a> --> </p>

          <p>I've only scratched the surface on accessibility updates to the site. More to come!</p>
          <p>June: Updated the main blog page using a jumbotron-style template, similar to the homepage. Page updates include:</p>
          <ul>
            <li>An About and Interests sidebar.</li>
            <li>This New Updates area.</li>
            <li>An overall cleaner look.</li>
          </ul>
          <p>All updates to this blog will be posted here.</p>
        </div><!-- /.blog-post -->

      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="font-italic">About</h4>
          <p class="mb-0">Front End Developer <i class="fas fa-code fa-sm" alt="code icon">
          </i> Austin, Texas <i class="fas fa-map-marker-alt fa-sm" alt="location pin icon"></i></p>
          <br>
          <h4 class="font-italic">Interests</h4>
          <p class="mb-0">
          <p>
          Food <i class="fas fa-utensils fa-sm" alt="utensils icon"></i>
          Coffee <i class="fas fa-coffee fa-sm" alt="coffee icon"></i>
          Mountain Biking <i class="fas fa-bicycle fa-sm" alt="bicycle icon"></i>
          Travel <i class="fas fa-plane fa-sm" alt="plane icon"></i>
          Drinks <i class="fas fa-glass-whiskey fa-sm" alt="whiskey glass icon"></i>
          Basketball <i class="fas fa-basketball-ball fa-sm" alt="basketball icon"></i>
          Live Music <i class="fas fa-guitar fa-sm" alt="guitar icon"></i>
          Football <i class="fas fa-football-ball fa-sm" alt="football icon"></i>
          Movies <i class="fas fa-ticket-alt fa-sm" alt="ticket icon"></i>
      	  Tech <i class="fas fa-mobile-alt fa-sm" alt="mobile phone icon"></i>
          </p>
        </div>

        <!--
        <div class="p-4">
          <h4 class="font-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
        -->
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->


  <div class="row mb-2">
  {% for blog in blogs %}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
          <h3 class="mb-0">{{ blog.title }}</h3>
          <div class="mb-1 text-muted">{{ blog.date|date:'F jS Y'}}</div>
          <p class="card-text mb-auto">{{ blog.description |striptags| truncatechars:120 }}</p>
          <a class="text-muted" href="{% url 'blog:detail' blog.id %}" style="text-decoration: none">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ blog.image.url }}" class="img-responsive" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Image" <rect width="100%" height="100%" fill="#55595c"/>
        </div>
      </div>
    </div>
{% endfor %}
    <!--
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    -->

  </div>
</div>



<footer class="blog-footer">
  <p class="container text-center">© Ed Ramirez {% now "Y"%}</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
</body>
</html>
{% endblock %}
